<h1><%= @list.title %></h1>
<% unless @tasks.nil? %>
<%= turbo_stream_from "tasks" %>
    <%= turbo_frame_tag "tasks" do %>
        <%= render @tasks %>
    <% end %>
    <%# Change the value of the completed task %>
<% else %>
    <p>No tasks</p>
<% end %>

<%= render partial: "form", locals: {zone: "Créer", task: @task, list: @list} %>
