<h1><%= @list.title %></h1>
<%= turbo_stream_from "tasks" %>

<%= turbo_frame_tag "tasks" do %>
    <%= render @tasks %>
<% end %>

<%= turbo_frame_tag "task_form" do %>
  <%= render partial: "tasks/form", locals: {zone: "Créer", task: @task, list: @list}  %>
<% end %>
