<h1><%= @list.title %></h1>
<% unless @tasks.nil? %>
    <% @tasks.each do |task| %>
        <li><%= check_box_tag('box', value = '1', checked = task.completed)%><%= task.title %> - <%= task.details %></li>
        <%# Change the value of the completed task %>
    <% end %>
<% else %>
    <p>No tasks</p>
<% end %>
<%= link_to "Add a task", new_list_task_path(@list.id) %>
